<h1>Welcome </h1>
<% flash.each do |type, message| %>
<div>
	<%= message %>		
</div>
<% end %>

<p>Only the registered user can login.</p>
<%= link_to 'Employee Detail' , getin_session_path(session)%>
<%= link_to 'Employee list' , getin_session_path(session) %>
<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>
