<table>
	<tr>
		<th>Name</th>
	  <th>E-mail</th>
	  <th>Company</th>
	  <th>Designation</th>
	  <th>Phone Num</th>
	</tr>
	
	<tr>
  	<td><%= @employee.name %></td>
		<td><%= @employee.email %></td>
		<td><%= @employee.company %></td>
		<td><%= @employee.designation %></td>
		<td><%= @employee.phone_num %></td>
	</tr>
</table>
